:root {
  --title-color: #2e2f42;
  --main-text-color: #434455;
  --second-text-color: #ffffff;
  --hover-text-color: #404bbf;
  --portfolio-btn-color: #f4f4fd;
  --hover-btn-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--second-text-color);
}

a {
  color: inherit;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/**--------------------HEADER--------------------*/

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 71px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 71px;
}

.header-logo-studio,
.footer-logo-studio {
  font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
  color: var(--title-color);
  width: 44px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-menu-link:hover,
.address-list:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: var(--hover-text-color);
}

.adress {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em
  color: #434455;
}

.address-list:focus {
  color: var(--hover-btn-color);
}

.address-mail .address-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list {
  font-style: normal;
}

/**---------------------MAIN---------------------*/

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  background-color: var(--title-color);
}

.hero-button {
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-text-color);
  background-color: var(--hover-btn-color);
  cursor: pointer;
}

.hero-button:hover,
:focus {
  background-color: var(--hover-text-color);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.features-title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.team {
background-color: #F4F4FD;
}

.team-maintitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.team-list {
background-color: #FFFFFF
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.footer {
  background-color: var(--title-color);
}

.footer-logo {
color: #f4f4fd;
}

.footer-logo-studio {
color: var(--portfolio-btn-color);
width: 44px;
}

.footer-text {
line-height: 1.5;
color: var(--portfolio-btn-color);
letter-spacing: 0.02em;
}

/**--------------------Portfolio-----------------*/

.portfolio-button {
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--hover-btn-color);
  cursor: pointer;
}

.portfolio-button:hover {
  background-color: var(--hover-text-color);
  color: var(--second-text-color);
}

.portfolio-button:focus {
  color: #404bbf; 
}

.rows-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.rows-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
